<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <description>Controls logging in/out of the web context.</description>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controllers.web.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <description>Controls registering a new account.</description>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>controllers.web.RegisterServlet</servlet-class>
        <init-param>
            <description>The fields that are required to be filled out during user registration.</description>
            <param-name>requiredFields</param-name>
            <param-value>firstName,lastName,address,city,state,postalCode,country,phone,birthDate</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>controllers.web.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <description>Controls searching for a book.</description>
        <servlet-name>BookSearchServlet</servlet-name>
        <servlet-class>controllers.web.BookSearchServlet</servlet-class>
        <init-param>
            <description>Allowed sort fields for book searches.</description>
            <param-name>sortFields</param-name>
            <param-value>price,publishDate,relevance</param-value>
        </init-param>
        <init-param>
            <description>Values describing the condition of a book.</description>
            <param-name>bookConditions</param-name>
            <param-value>new,good,acceptable,poor</param-value>
        </init-param>
        <init-param>
            <description>Book languages.</description>
            <param-name>bookLanguages</param-name>
            <param-value>en,es,fr</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/accountLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/registerAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookSearchServlet</servlet-name>
        <url-pattern>/bookSearch</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>home</welcome-file>
        <welcome-file>index</welcome-file>
    </welcome-file-list>
    <context-param>
        <description>The database configuration file location.</description>
        <param-name>dbConfigResource</param-name>
        <param-value>dbConfig.xml</param-value>
    </context-param>
</web-app>
