body {
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    background: #464646 url(../images/background.gif) repeat-x;
    font-family: verdana, sans-serif, serif, times;
    font-size: 11pt;
}

#pageColumns {
    background: #e3d6b2;
    position: relative;
    clear: both;
    float: left;
    width: 100%;
    overflow: hidden;
}

#columnWrap {
    float: left;
    width: 100%;
    position: relative;
}

#columnContent,
#columnSidebar {
    float: left;
    position: relative;
    padding: 0 0 1em 0;
    overflow: hidden;
}

div#pageColumns div#columnWrap {
    right: 75%;
    border-right: 1px solid #DFC599
}

div#pageColumns #columnContent {
    width: 71%;
    left: 102%;
}

div#pageColumns #columnSidebar {
    width: 21%;
    left: 6%;
}

#footer {
    clear: both;
    float: left;
    width: 100%;
    border-top: 1px solid #000;
}

#footer p {
    padding:10px;
    margin:0;
}

a {
    color: #039;
}

a:hover {
    color: #069;
    text-decoration: underline;
}

form label {

}

#pageWrap {
    min-width: 800px;
    margin: 0 5%;
}

#topStrip {
    background: url(../images/topstrip.png) repeat-x;
    height: 43px;
}

#topStrip p {
    color: #fff;
    font-weight: bold;
    font-size: 12pt;
    margin: 0;
    padding: 12px 0 0 10px;
}

#topStrip a {
    color: #fff;
}

#topStrip a:hover {
    color: #efefef;
}

div.simpleSearch {
    padding: 0 0 2px 0;
}

.advancedSearch {
    font-size: 8pt;
    margin: 3px 0 5px 0;
    clear: both;
}

.advancedSearch a {
    float: right;

}

#header {
    background: url(../images/paper.png) repeat-x;
    height: 181px;
    padding: 0 0 0 10px;
}

#columnSidebar h3 {
    background: #9F7E45;
    color: #DFC599;
    border: 2px solid #7F5F27;
    text-align: center;
}

#columnSidebar a {
    color: #7F5F27;
    text-decoration: none;
}

#columnSidebar a:hover {
    color: #5F4312;
}

#columnSidebar ul {
    padding: 0;
    list-style-image: none;
    border-top: 1px solid #7F5F27;
}

#columnSidebar ul li {
    display: block;
    border-bottom: 1px solid #7F5F27;
}

#columnSidebar ul li a {
    display: block;
    font-weight: bold;
    padding: 3px 2px;
}

#columnSidebar ul li a:hover {
    background: #DFCC99;
}

img {
    border: 0;
}

ul.searchResults {
    padding: 0;
    list-style-image: none;
}

ul.searchResults li {
    display: block;
    border-bottom: 2px dotted #9F7E45;
    padding: 7px 0;
}

form {
    margin: 0;
    padding: 0;
}

form fieldset {
    min-width: 500px;
    width: 750px;
    clear: both;
    border: 1px solid #7F5F27;
    padding: 10px;
    margin: 0;
}

form fieldset legend {
    font-size: 1.1em;
}

form label {
    display: block;
    float: left;
    width: 160px;
    padding: 0;
    margin: 5px 0 0 0;
    text-align: right;
}

form label.noFloat {
    display: inline;
    float: none;
    width: auto;
    margin: 0 0 0 5px;
}

form input,
form textarea,
form select {
    width: auto;
    margin: 5px 0 0 10px;
    border: 1px solid #7F5F27;
    background: #DFC599;
}

form input.button {
    cursor: pointer;
}

form input.submit {
    margin-left: 170px;
}

textarea { 
    overflow: auto;
}

form small {
    display: block;
    margin: 0 0 5px 160px;
    padding: 1px 3px;
    font-size: 88%;
}

form .required{
    font-weight: bold;
}

p.error,
form p.error {
    background: #FF9F9F;
    border: 1px solid #BF2F2F;
    font-size: 10pt;
    padding: 2px 4px;
}

form br {
    clear: left;
}
